.root {
  height: 100vh;
  width: 100%;
  margin-left: 17%;
  overflow: hidden;

  .wrapper {
    padding-top: 20pt;
    height: 100vh;
    width: 100%;

    .container {
      margin-left: 7%;
      margin-right: 7%;
      display: flex;
      border-radius: 12pt;
      height: 90%;
      border: 1px solid #7781a1;

      .image__container {
        max-width: 65%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        background-color: #1f1919;
        border-top-left-radius: 10pt;
        border-bottom-left-radius: 10pt;


        img {
          min-height: 100%;
          max-width: 88%;
          display: block;
        }
      }

      .post__desc {
        width: 35%;
        min-height: 100%;
      }
    }
  }
}

.headline {
  height: 32pt;
  display: flex;
  align-content: center;
  align-items: center;
}

.post__desc_text {
  padding: 2pt;
  border-bottom: solid 0.7px #949393;
  height: 7%;
  overflow-y: auto;

  p {
    word-wrap: break-word
  }
}

.comment__avatar {
  margin-bottom: 1pt;
  margin-right: 4pt;
  margin-left: 2pt;

  img {
    cursor: pointer;
    border-radius: 50%;
    max-width: 32px;
    max-height: 32px;
  }
}

.comments {
  height: 78%;
  overflow-y: scroll;
}


@media (max-height: 900px) {
  .comments {
    height: 76%;
  }
}


@media (max-height: 777px) {
  .comments {
    height: 75%;
  }
  .likes__count {
    font-size: 12px;
  }
}

@media (max-height: 720px) {
  .comments {
    height: 73%;
  }
}

@media (max-height: 660px) {
  .comments {
    height: 70%;
  }

}

@media (max-height: 590px) {
  .comments {
    height: 67%;
  }
  .likes__count {
    font-size: 9px;
  }
}

@media (max-height: 535px) {
  .comments {
    height: 66%;
  }
}

@media (max-height: 505px) {
  .comments {
    height: 62%;
  }
}

@media (max-height: 475px) {
  .comments {
    height: 61%;
  }
}

@media screen and (max-width: 780px) {
}
