.root {
  background-color: #FBFCFE;
  height: 100vh;
  width: 100%;
  margin-left: 17%;
}

.grid__root {
  width: 100%;
  display: flex;
  justify-content: center;

  .grid {
    width: 70%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.feed__item {
  justify-self: center;
  background-color: #ffffff;
  border-radius: 10px;
  border: 0.5px solid #DBDBDB;
  min-height: 740px;
  width: 470px;

  .feed__headline {
    height: 40pt;

    .container {
      padding: 5pt;
      display: flex;
      align-items: center;
      border-bottom: 0.5px solid #DBDBDB;

      img {
        cursor: pointer;
        margin-right: 5pt;
        width: 38px;
        height: 38px;
        border-radius: 50%;
      }

      p {
        cursor: pointer;
      }
    }
  }

  .feed__media {
    height: 540px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .post_reaction {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 21pt;
    align-items: center;

    .reaction {
      margin-left: 7pt;

      svg {
        cursor: pointer;
        margin-right: 11pt;
      }

      svg:hover {
        filter: invert(90%) sepia(4%) saturate(7%) hue-rotate(331deg) brightness(97%) contrast(76%);
      }

      svg:active {
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(254deg) brightness(103%) contrast(105%);
      }
    }
  }

  .bookmark {
    svg {
      cursor: pointer;
      margin-right: 5pt;
    }

    svg:hover {
      filter: invert(90%) sepia(4%) saturate(7%) hue-rotate(331deg) brightness(97%) contrast(76%);
    }

    svg:active {
      filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(254deg) brightness(103%) contrast(105%);
    }
  }
}


.friend__list {
  margin-bottom: 9pt;
  max-width: 100%;

  .wrapper {
    border: 1pt solid #DBDBDB;
    border-top: none;
    max-width: 100%;
    height: 74px;
    margin-left: 22%;
    margin-right: 22%;
    padding: 10pt;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom-right-radius: 14pt;
    border-bottom-left-radius: 14pt;

    .right {
      padding: 3pt;
      cursor: pointer;
      position: absolute;
      right: 19%;
      border-radius: 50%;
    }

    .right:hover {
      background-color: #e8e0e0;
    }

    .left {
      padding: 3pt;
      cursor: pointer;
      position: absolute;
      left: 36%;
      border-radius: 50%;
    }

    .left:hover {
      background-color: #e8e0e0;
    }
  }

  .wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .story {
    p {
      cursor: pointer;
      font-size: 12px;
    }

    img {
      cursor: pointer;
      min-height: 48px;
      min-width: 48px;
      max-height: 48px;
      max-width: 48px;
      border-radius: 50%;
    }
  }

  .story:not(:last-child) {
    margin-right: 12pt;
  }

  .story:first-child {
    margin-left: 12pt;
  }
}

.send__comment {
  margin-top: 14pt;
}
